<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @invitation_template.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @invitation_template.body %>
</p>

<%= link_to 'Edit', edit_invitation_template_path(@invitation_template) %> |
<%= link_to 'Back', invitation_templates_path %>
